{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>フィットネス</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    {# flatpickr #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>

    {# sortablejsで並び替えを実現する #}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    {# TODO:EasyTimer.js #}
    <script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.1/dist/easytimer.min.js"></script>

    <link rel="stylesheet" href="{% static 'fitness/css/home.css' %}">

    <script src="{% static 'common/js/ajax.js' %}"></script>

    <script src="{% static 'fitness/js/home.js' %}"></script>
    <script src="{% static 'fitness/js/watch_and_timer.js' %}"></script>

<script>
const ALARM = "{% static 'fitness/music/alerm.mp3' %}"
</script>

</head>
<body>

    <div class="row mx-0">

        <div class="col-sm-6">
            {# カレンダー #}
            <div class="calender_header">
                <div class="calender_link_area">
                    <a href="?year={{ last_month.year }}&month={{ last_month.month }}"><i class="fas fa-angle-left"></i></a>
                </div>

                <form class="calender_form_area" action="" method="GET">
                    <select name="year">
                        {% for year in years %}
                        <option value="{{ year }}"  {% if year == selected_date.year %}selected{% endif %}>{{ year }}年</option>
                        {% endfor %}
                    </select>
                    <select name="month">
                        {% for month in months %}
                        <option value="{{ month }}" {% if month == selected_date.month %}selected{% endif %}>{{ month }}月</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="検索">
                </form>

                <div class="calender_link_area">
                    <a href="?year={{ next_month.year }}&month={{ next_month.month }}"><i class="fas fa-angle-right"></i></a>
                </div>
            </div>

            <table class="calender">
                <thead>
                    <tr class="calender_head">
                        <td>日</td>
                        <td>月</td>
                        <td>火</td>
                        <td>水</td>
                        <td>木</td>
                        <td>金</td>
                        <td>土</td>
                    </tr>
                </thead>
                <tbody>
                    {% for week_date in month_date %}
                    <tr>
                        {% for date in week_date %}
                        {# 今日の日付に背景色を加える #}
                        <td {% if today == date.day %}style="background:orange;"{% endif %}>{{ date.day.day }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


            {# 後にここへタブシステムを #}
            <input id="tab_radio_1" class="tab_radio" type="radio" name="tab_system" checked><label class="tab_label" for="tab_radio_1">概要</label>
            <input id="tab_radio_2" class="tab_radio" type="radio" name="tab_system"><label class="tab_label" for="tab_radio_2">日ごと</label>
            <input id="tab_radio_3" class="tab_radio" type="radio" name="tab_system"><label class="tab_label" for="tab_radio_3">タブ3</label>

            <div id="tab_area_1" class="tab_area"></div>
            <div id="tab_area_2" class="tab_area">


                {% comment %}
                {# カレンダー連携なし #}
                {% for memories_list in memories_lists %}
                <div class="border">
                    <h3>{{ memories_list.date }}</h3>

                    {% for memory in memories_list.memories %}
                    <div>{{ memory.category.name }}</div>
                    <div>{{ memory.time }}</div>
                    <div>{{ memory.exe_dt }}</div>
                    {% endfor %}
                
                </div>
                {% endfor %}
                {% endcomment %}

                {# カレンダー連携あり #}
                {# カレンダーと連携することで、1週間毎の集計もできるようになると思われる。 #}

                {% for week_date in month_date %}
                {% for date in week_date %}

                {# 記録がある場合のみ表示する。全ての日付を表示させることもできる #}
                {% if date.memories %}
                <div class="border">
                    <h3>{{ date.day }}</h3>

                    {% for memory in date.memories %}
                    <div>{{ memory.category.name }}</div>
                    <div>{{ memory.time }}</div>
                    <div>{{ memory.exe_dt }}</div>
                    {% endfor %}
                </div>
                {% endif %}

                {% endfor %}
                {% endfor %}


            </div>

            <div id="tab_area_3" class="tab_area"></div>

        </div>

        <div class="col-sm-6">

            <div class="container_area">
                <h2>カテゴリ追加</h2>

                <form action="{% url 'fitness:fitness_category' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="カテゴリ名">
                    <input type="number" name="kcal" placeholder="1分あたりの消費カロリー">
                    <input type="submit" value="送信">
                </form>
            </div>

            <div class="container_area">
                <h2>手動記録追加</h2>

                <form action="{% url 'fitness:fitness_memory' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="exe_dt">
                    <select name="category">
                        <option value="">カテゴリを選んでください</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="time" placeholder="00:00:00">
                    <input id="fitness_memory_submit" type="button" value="送信">
                </form>
            </div>


            {# この部分は、フィットネスカテゴリを選んだ上で運動を始める #}
            <div class="container_area">
                <h2>ストップウォッチ</h2>

                <select name="category">
                    <option value="">フィットネスカテゴリを選んでください</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <input id="watch_start" type="button" value="スタート">

            </div>


            <div class="container_area">

                <h2>フィットネスメニュー新規作成</h2>

                {# ↓MenuDetailのフォームの原型。これをJSで#menu_detail_create_formに追加する #}
                <div id="menu_detail_create_init" class="menu_detail_create_init">

                    <div class="menu_detail_create_row">
                        <i class="fas fa-bars handle"></i>
                        <select name="category">
                            <option value="">フィットネスカテゴリを選んでください</option>
                            {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" name="time" placeholder="00:00:00">
                        <input class="menu_detail_create_delete" type="button" value="削除">
                        <input type="hidden" name="id" value="">
                    </div>
                </div>
                <form action="{% url 'fitness:menu' %}" method="POST">
                    {% csrf_token %}
                    {# ↓Menuのフォーム #}
                    <input type="text" name="name" placeholder="メニュー名">

                    {# 追加ボタンは編集時にも使うので、class名に変更 #}
                    <input class="menu_detail_create_row_add" type="button" value="追加">
                    <div class="menu_detail_create_form">
                        {# ここにDetailフォームが追加される。 #}
                    </div>

                    <input id="menu_create_submit" type="button" value="送信">
                </form>
            </div>

            <div class="container_area">
                {# フィットネスメニュー一覧表示、削除と編集も受け付ける。 #}
                <h2>フィットネスメニュー一覧</h2>
                <div id="fitness_menu_area">
                    {% include "fitness/fitness_menu.html" %}
                </div>
            </div>

        </div>
    </div>


{# メニューを始めるをクリックした時、このチェックボックスにチェックを入れ、モーダルダイアログを表示 #}
{# メニューをJSに記録、順次カテゴリとタイマーをセット、カウントダウンを始める #}
<input id="modal_chk" class="modal_chk" type="checkbox">
<div class="modal_content_area">

    <label class="modal_label" for="modal_chk"><i class="fa-regular fa-circle-xmark"></i></label>

    <div class="modal_content">
    
        {# TODO:ここでタイマーとストップウォッチを兼ねる #}
        <div id="doing_category"></div>
        <div id="remain">00時間00分00秒</div>
        <div>
            {# TODO:ここの一時停止もfontawesomeの再生と停止を表示非表示を繰り返して表現してみる #}
            <input id="timer_pause" type="button" value="一時停止">
        </div>
    
        <input id="timer_second" type="number" value="0" style="display:none;">

    </div>

</div>


</body>
</html>







